@page
@using Microsoft.AspNetCore.Identity
@model Proiect_Medii.Pages.Orders.CreateModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       
        <form method="post">
            
            <div class="form-group">
                <label asp-for="Order.UserID" class="control-label"></label>
                <select asp-for="Order.UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            
            <div class="form-group">
                <label asp-for="Order.FestivalID" class="control-label"></label>
                <select asp-for="Order.FestivalID" class ="form-control" asp-items="ViewBag.FestivalID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
